Repository TristanCacqueray/sicp-2019: changes, and which Zuul jobs are due for each by the changed paths.
All: sicp-evaluate, sicp-evaluate-test

sicp-evaluate:
  description: Evaluate SICP assignment
  voting: false
  run: playbooks/evaluate.yaml
  nodeset: fedora-latest-runc

sicp-evaluate-test:
  description: Verify SICP evaluate script
  run: playbooks/evaluate-test.yaml
  nodeset: fedora-latest-runc

Add CI job and assignment template
  .zuul.yaml
  README.md
  README.org
  assigments/template/notes.org
  evaluate/__init__.py
  evaluate/cmd.py
  evaluate/scheme.py
  evaluate/sicp.py
  playbooks/evaluate-test.yaml
  playbooks/evaluate.yaml
Due: sicp-evaluate-test

DNM: test ci job
  assignments/test/1-3.scm
  assignments/test/1-7.scm
Due: sicp-evaluate

Add CI job and assignment template
  .zuul.yaml
  README.md
  README.org
  assignments/template/notes.org
  evaluate/__init__.py
  evaluate/cmd.py
  evaluate/scheme.py
  evaluate/sicp.py
  playbooks/evaluate-test.yaml
  playbooks/evaluate.yaml
Due: sicp-evaluate, sicp-evaluate-test

Add tdecacqu answers for the section 1.1
  assignments/tdecacqu/notes-01.org
Due: sicp-evaluate

Fix tdecacqu answers
  assignments/tdecacqu/notes-01.org
  evaluate/sicp.py
Due: sicp-evaluate, sicp-evaluate-test

Fix tdecacqu answers
  assignments/tdecacqu/notes-01.org
Due: sicp-evaluate

Fix evaluation test
  evaluate/sicp.py
  playbooks/evaluate-test.yaml
Due: sicp-evaluate-test

Add tdecacqu answers for the section 1.2
  assignments/tdecacqu/1.14.svg
  assignments/tdecacqu/notes-02.org
Due: sicp-evaluate

Add tdecacqu answers for the section 1.3
  assignments/tdecacqu/notes-03.org
Due: sicp-evaluate

Add tdecacqu answers for the section 2.2
  assignments/tdecacqu/notes-06.org
Due: sicp-evaluate

Add tdecacqu answers for the section 2.3
  assignments/tdecacqu/notes-07.org
Due: sicp-evaluate

Add tdecacqu answers for 2.2.4
  assignments/tdecacqu/corner-split-2.png
  assignments/tdecacqu/fedora-logo-right-split.png
  assignments/tdecacqu/fedora-logo-square-limit-flipped.png
  assignments/tdecacqu/fedora-logo-square-limit.png
  assignments/tdecacqu/fedora-logo-up-split.png
  assignments/tdecacqu/notes-08.org
  assignments/tdecacqu/smiling-george.png
Due: sicp-evaluate

Add tdecacqu answers for the section 2.3.3
  assignments/tdecacqu/notes-10.org
Due: sicp-evaluate

Add tdecacqu answers for the section 2.3.4
  assignments/tdecacqu/notes-11.org
Due: sicp-evaluate

Prepare Week-13
  README.md
  README.org
  evaluate/sicp.py
Due: sicp-evaluate-test

Path conditions:
  sicp-evaluate: any of: assignments/*
  sicp-evaluate-test: any of: evaluate/*
